<div class="container pb-1 container-block-inicia">
    <div class="py-1 texto">
        <div class="navbar navbar-expand-lg">
            <h2>
                Teste - Preciso trocar de ERP?
            </h2>
            <img src="../../assets/img/logo-primary-monochromatic-white.png" class="py-5 logo-cima" alt="">
            <h2>
                Pergunta 1 de 11
            </h2>
        </div>
        <div class="formar">
            <div class="form">
                <p>
                    01
                </p>
                <form class="formulario">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="mat-label">Qual é o seu nome? </mat-label>
                        <input matInput maxlength="256" placeholder="Digite Seu Nome...">
                    </mat-form-field>
                </form>

            </div>

            <button onclick="location.href = '/resultado';" mat-flat-button
                class="botao-verde botao-verde-form centralizador mt-5">
                Avançar <mat-icon>subdirectory_arrow_right</mat-icon>
            </button>
        </div>


    </div>
</div>