<div class="container pb-1 container-block-inicia">
    <div class="preencher"></div>
    <div class="py-1 texto">
        <img src="../../assets/img/logo-primary-color-black.png" class="py-5" alt="">
    </div>
    <div>
        <div class="container container-block-top-res">
            <div class="d-block centralizador d-block-top-res">
                <div class="py-1">
                    <div class="px-1 text-center">
                        <p>
                            Resultado do teste · Preciso trocar de ERP?
                        </p>
                    </div>
                    <h2 class="pt-2 px-5 text-center">
                        Não se preocupe agora.
                    </h2>
                </div>
            </div>
            <div class="joia-cima">
                <mat-icon class="joia" svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">
                </mat-icon>
            </div>
        </div>

        <div class="py-1 pelo-visto">
            <div class="px-1 text-center">
                <p>
                    Pelo que vimos nas suas respostas, pode ser que ainda tenha espaço para você crescer utilizando o
                    seu ERP atual.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="container container-top-res">
    <div class="d-flex justify-content-center">
        <div class="row row-top-res">
            <div class="col-md-6 col-md-6-top-res-left">
                <p>
                    De qualquer forma, se você respondeu este questionário, pode ser que você tenha algumas dúvidas que
                    não estavam nesse diagnóstico ou que você não esteja satisfeito em alguns pontos específicos do seu
                    sistema.
                </p>
                <p>
                    Você está certo! O ideal é que todas as empresas estejam constantemente em busca de mudanças e
                    avanços em algum processo de negócio, querendo gerar ainda mais resultado e escalabilidade para a
                    empresa.
                </p>
                <p>
                    Caso seja este o caso, podemos fazer um diagnóstico completo que irá medir a maturidade da sua
                    gestão, apresentando onde possam ter gaps nos seus processos e como você está em relação aos seus
                    concorrentes.
                </p>

            </div>
            <div class="col-md-6 bloco-escuro-top">
                <div class="fundo-imagem-res">
                    <p>
                        <img src="../../assets/img/maha.png" alt="">
                    </p>
                    <p>
                        Utilizamos o Maha Gestão, uma ferramenta com mais de XXX empresas cadastradas e totalmente
                        gratuita.
                    </p>
                    <button onclick="location.href = '/iniciapergunta';" mat-flat-button class="botao-verde">
                        Faça o teste agora e descubra
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container container-top-res bg-white">
    <div class="d-flex justify-content-center">
        <div class="row row-top-res">
            <div class="col-md-6 col-md-6-top-res-left">
                <p>
                    Independente do diagnóstico, uma coisa é fato: é importante estar sempre estudando e se
                    atualizando. Te indico o canal do Mestre do ERP para entender ainda mais sobre o mercado
                    de sistemas, tecnologia, gestão, indicadores de sucesso e vários outros assuntos
                    relevantes relacionados aos negócios.
                </p>
            </div>
            <div class="col-md-6 bloco-top">
                <div class="bloco-top-dir-video">
                    <p>
                        <img src="../../assets/img/video.jpg" alt="">
                    </p>
                    <button onclick="location.href = '/iniciapergunta';" mat-flat-button class="botao-verde">
                        Quero me inscrever no canal <fa-icon [icon]="faYoutube"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container container-down-res">
    <div class="row row-down-res">
        <div class="col-md-6 col-md-6-left">
            <div>
                <img src="../../assets/img/image2.jpg" alt="" class="">
            </div>
        </div>
        <div class="col-md-6 col-md-6-dir">

            <p>
                No nosso blog você também encontra muitos materiais com temas que vão de gestão de pessoas até as
                últimas tendências em tecnologia. Se você gosta de estar sempre atualizado, é só assinar nossa
                newsletter aqui embaixo para receber novidades:
            </p>
            <form class="form">
                <div>
                    <input type="email" placeholder="Email" matInput formControl="emailFormControl">
                </div>

                <button onclick="location.href = '/iniciapergunta';" mat-flat-button class="botao-verde">
                    Receber conteúdos
                </button>
            </form>
            <p>
                Ao informar meus dados, eu concordo com a Política de Privacidade.
            </p>
        </div>
    </div>
</div>


<footer class="container-footer-res">
    <div class="row row-footer-res">
        <div class="col-md-4">
            <img src="../../assets/img/logo-primary-color-black.png" alt="">
        </div>
        <div class="col-md-8">
            <div class="d-flex">
                <p>sankhya.com.br</p>
                <div>
                    <img src="../../assets/icons/facebook.png" alt="">
                    <img src="../../assets/icons/instagram.png" alt="">
                    <img src="../../assets/icons/linkedin-in.png" alt="">
                    <img src="../../assets/icons/twitter.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>