<div class="container pb-1 container-block-inicia">
    <div class="py-1 texto">
        <img src="../../assets/img/logo-primary-monochromatic-white.png" class="py-5" alt="">
        <h2>
            Teste
        </h2>
        <h1>
            Preciso trocar de ERP?
        </h1>
        <div class="px-1">
            <p>
                Através de um diagnóstico simples e prático você vai descobrir se a troca do seu sistema de gestão é a
                melhor solução para os seus problemas.
            </p>
        </div>
        <button onclick="location.href = '/questionario';" mat-flat-button class="botao-verde centralizador mt-5">Iniciar Teste</button>
    </div>
</div>