<div class="container container-top-home">
    <div class="d-flex justify-content-center centralizador-home">
        <div class="row row-top-home">
            <div class="col-md-6 col-md-6-top-home-left">
                <img src="../../assets/img/logo-primary-color-black.png" alt="" class="imagem-logo-top-home">
                <h1 class="tituloprincipal">Presciso trocar de <strong>EPR?</strong></h1>
                <p class="subtituloprincipal">
                    Se você tem se questionado frequentemente
                    se deve contratar um novo sistema de gestão,
                    este diagnóstico vai te ajudar a tomar uma
                    decisão inteligente.
                </p>
                <button onclick="location.href = '/iniciapergunta';"   mat-flat-button class="botao-verde">Faça o teste agora e descubra</button>
            </div>
            <div class="col-md-6">
                <div class="fundo-imagem-home">
                    <img src="../../assets/img/rectangle.jpg" alt="" class="imagem">
                </div>
            </div>
        </div>
        <div>
            <div class="cordolado-01"></div>
            <div class="cordolado-02"></div>
        </div>
    </div>
</div>


<div class="container position-relative bloco-acima-da-img text-center">
    <div class="d-block bg-white centralizador container-block-home">
        <div class="py-1">
            <h2 class="py-2">
                Entenda se esse é o melhor momento para <strong>trocar o EPR da sua empresa</strong> e como fazer
                esta mudança de forma prática.
            </h2>
            <button onclick="location.href = '/iniciapergunta';"   mat-flat-button class="botao-verde centralizador">Quero fazer o teste</button>
        </div>
    </div>
</div>


<div class="container pb-5">
    <div class="d-block centralizador pb-5 container-block-home">
        <div class="py-1">
            <h2 class="py-2 px-5 text-center">
                Seu EPR é quem trabalha por você ou você é quem trabalha por ele?
            </h2>
            <div class="px-1 text-center">
                <p>
                    Você tem gastado muito tempo resolvendo problemas causados pelo seu sistema de gestão,
                    ou deixando de realizar planos por que ele não suporta inovações,
                    talvez seja o momento de levantar a hipótese de procurar uma nova solução.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container container-home-rectangle5 bg-white">
    <div class="row row-home-rectangle5">
        <div class="col-md-6">
            <div>
                <img src="../../assets/img/Rectangle5.jpg" alt="" class="imagem-home-rectangle5">
            </div>
        </div>
        <div class="col-md-4 side-rectangle5">
            <h2 class="pb-1 pt-4">Você sofre com o exesso de integrações?</h2>
            <p class="destaque">
                Bate até um desânimo quando você pensa nas inúmeras integrações que o seu atual sistema precisa para
                funcionar corretamente?
            </p>
            <p class="sem-destaque">
                Seu processo precisa ser executado em muitas telas? Tem pouco dinamismo e fluidez?
            </p>
            <p class="sem-destaque">
                Estes também são alguns sinais importantes para refletir.
            </p>

        </div>
    </div>
</div>



<div class="container pb-1 container-block-home-n-img">
    <div class="d-block centralizador pb-5 container-block-home d-block-home-n-img">
        <div class="py-1">
            <h2 class="py-2 px-5 text-center">
                Ainda está com dúvidas sobre a troca do ERP da sua empresa?
            </h2>
            <div class="px-1 text-center">
                <p>
                    Nós vamos te ensinar o passo a passo para que sua troca de software aconteça de maneira simples e rápida na sua empresa.
                </p>
            </div>
            <button onclick="location.href = '/iniciapergunta';"  mat-flat-button class="botao-verde centralizador mt-5">Faça o teste agora mesmo</button>
        </div>
    </div>
</div>
<footer>
    <img src="../../assets/img/logo-primary-monochromatic-white.png" alt="">
</footer>